.login-form {
    max-width: 100%;
    width: 20vw;
    min-width: 100px;
}

.login-form-left-align {
    float: left;
}

.login-form-right-align {
    float: right;
}

.login-form-button {
    width: 100%;
}